@import '../../stylesheets/sass/general';

.forgot-password-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.forgot-password-container>* {
    flex: 1 100%;
    display: flex;
}

.forgot-password-container-one {
    justify-content: center;
    align-items: center;
    background-color: #634BDC;
}

.forgot-password-container-two {
    flex-direction: column;
    padding: 0.5em 0.5em;
    justify-content: center;
    align-items: center;
    margin-left: 0.1em;
    margin-right: 0.1em;
    overflow-y: auto;

}

.forgot-password-form {
    display: flex;
    flex-direction: column;
}

.forgot-password-form>* {
    // flex: 1 100%;
    display: flex;
    // justify-content: space-between;
    // gap: 1.5em;
    margin-bottom: 1em;
}

.forgot-password-button-container {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.forgot-password-button-container>* {
    flex: 1;
}

@include media-breakpoint-down('md') {
    .forgot-password-container-one {
        display: none;
    }
}

.forgot-password-sign-container {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-top: 1em;
}